.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.tabsContainer {
  display: flex;
  border-bottom: 5px solid #08fdd8;
  margin-top: 2rem;
  width: 70vw;
}

.tabsContainer > div {
  color: #08fdd8;
  border-left: 1px solid #08fdd8;
  border-top: 1px solid #08fdd8;
  border-right: 1px solid #08fdd8;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 25px 25px 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.5rem;
}

.tabsContainer > div:hover {
  color: black;
  background-color: #08fdd8;
}

@media screen and (max-width: 760px) {
  .tabsContainer > div {
    font-size: 1rem;
  }
}
