.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #262626;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 15rem;
  margin-top: 3rem;
  margin-right: 3rem;
  flex: 1.5;
}

.title {
  display: flex;
  color: #08fdd8;
  font-size: 5rem;
  font-weight: bold;
}

.blurb {
  color: white;
  margin: 2rem 0;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
}

.notificationContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
  box-sizing: border-box;
  flex: 1;
}

@media screen and (max-width: 760px) {
  .content {
    margin-left: 3rem;
    margin-top: 10rem;
    margin-right: 3rem;
  }

  .title {
    font-size: 3rem;
  }

  .blurb {
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .content {
    margin-left: 2rem;
    margin-top: 10rem;
    margin-right: 2rem;
  }
}
